<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @ask.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @ask.message %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ask.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ask.phone %>
</p>

<%= link_to 'Edit', edit_ask_path(@ask) %> |
<%= link_to 'Back', asks_path %>
